# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio trash
visual-studio/Debug/*
visual-studio/*.opensdf
visual-studio/*.sdf
visual-studio/*.v11.suo
visual-studio/*.user


# CMake build files
build/*
CMakeLists.txt.user